@import '~leaflet/dist/leaflet.css';

html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 34px;
	color: blue;
}

#map {
	width: 100%;
	height: 90%;
}